body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}



#wrapper {
	padding-left:312px;
	position:relative;
}

#userList-React {
	position: relative;
	width: fit-content;
	float: right;
}

#userList-ReactH1 {
	position:relative;
	float:right;
}

#userList, #userList-React {
	margin:0 0 30px 0;
}
	#userList table, #userList-React table{
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th, #userList-React table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody, #userList-React table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td, #userList-React table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo, #userInfo-React {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p, #userInfo-React p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}
	

#userInfoBox {
	padding: 15px;
    border: 1px solid #CCC;
	background: rgba(80,120,255,0.05);
	width: 218px;
} 	

#userInfoWrapper {
	display: inline-block;
	width: 250px;
}

#userInfoBox p {
	margin: 0
}

#listAddBox {
	float: right;
    display: flex;
    flex-direction: column;
}

#addUser-React {
    display: inline-block;
    position: inherit;
    float: right;
}

#addUser-React fieldset {
	width: max-content;
}

#componentWrapper {
	display: grid;
    grid-template-columns: 1.8fr 2fr;
    max-width: 665px;
}

fieldset {
	border:0;
	padding:0; margin:0;
}